@import url("resets.css");
@import url("variables.css");

body {
  min-width: 20rem;
  background-color: var(--body-bg);
  color: var(--body-fg);
  font-size: 1.0625rem;
  line-height: 1.4705882353;
  letter-spacing: -0.022em;
}

:focus-visible {
  outline-color: var(--header-link-bg);
}

/* ===== Utilities ===== */

.ai-text {
  background-image: var(--ai-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  display: inline;
}

.heading-text {
  font-family: var(--font-SF-Pro-Display-Semibold);
  background-image: var(--heading-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  display: inline;
}

.button {
  background-color: var(--header-link-bg);
  color: var(--header-link-fg);
  text-align: center;
  border: 1px solid var(--header-link-bg);
  border-radius: 100px;
  white-space: nowrap;
}

em {
  font-style: normal;
  color: var(--title);
}

.content {
  padding: 0 1rem;
  max-width: 64rem;
  margin: 0 auto;
}

@media only screen and (min-width: 52.125rem) {
  .content {
    padding: 0 1.375rem;
  }
}

/* ===== Header ===== */

header {
  background-color: var(--header-bg);
  color: var(--header-fg);
  border-bottom: 1px solid var(--separator);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  min-height: 48px;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0.6875rem 0;
}

header .content {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 1.1875rem;
  line-height: 1.2622;
  letter-spacing: 0.012em;
  opacity: 0.92;
  font-family: var(--font-SF-Pro-Display-Semibold);
  margin-right: auto;
}

header button {
  border-radius: 100px;
}

@media only screen and (min-width: 66.75rem) {
  header h1 {
    font-size: 1.3125rem;
    line-height: 1.3335;
  }
}

/* ===== Section - Welcome ===== */

.welcome {
  padding: 2.5rem 0 5.9375rem;
}

.welcome .content h2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.1666666667;
  letter-spacing: 0.009em;
  font-family: var(--font-SF-Pro-Display-Semibold);
  color: var(--title);
}

.welcome .content .tagline {
  text-align: center;
  font-size: 2.1875rem;
  line-height: 1.257144;
  letter-spacing: 0em;
}

.welcome .content picture {
  max-width: 19.5rem;
  margin: 2.3125rem auto 2.8rem;
}

.welcome .content .description {
  text-align: center;
}

.welcome .content .description .ai {
  font-family: var(--font-SF-Pro-Display-Semibold);
  font-size: 1.3125rem;
  line-height: 1.1904761905;
  letter-spacing: 0.011em;
}

.welcome .content .description a {
  font-size: 1.0625rem;
  line-height: 1.1764805882;
  letter-spacing: -0.022em;
  padding: 0.6875rem 1.3125rem;
  display: inline-block;
  margin: 1rem 0;
}

.welcome .content .description .price {
  white-space: nowrap;
  font-size: 0.875rem;
  font-family: var(--font-SF-Pro-Text-Semibold);
  color: var(--title);
  line-height: 1.2857742857;
  letter-spacing: -0.016em;
}

.welcome .content .description .info {
  font-family: var(--font-SF-Pro-Display-Semibold);
  font-size: 1.3125rem;
  line-height: 1.1904761905;
  letter-spacing: 0.011em;
  max-width: 23.4375rem;
  margin: 3.125rem auto 0;
}

@media only screen and (min-width: 45.875rem) {
  .welcome {
    padding: 5.625rem 0 8.4375rem;
  }

  .welcome .content h2 {
    font-size: 1.75rem;
    line-height: 1.1428571429;
    letter-spacing: 0.007em;
  }

  .welcome .content .tagline {
    font-size: 3.5rem;
    line-height: 1.0714285714;
    margin-top: 0.875rem;
  }

  .welcome .content picture {
    max-width: 45.25rem;
    margin: 4.6875rem auto;
  }

  .welcome .content .description .ai {
    font-size: 1.75rem;
    line-height: 1.1428571429;
    letter-spacing: 0.007em;
  }

  .welcome .content .description .price {
    font-size: 1.0625rem;
    line-height: 1.2353641176;
    letter-spacing: -0.022em;
  }

  .welcome .content .description .info {
    max-width: 36rem;
  }
}

@media only screen and (min-width: 66.75rem) {
  .welcome {
    padding: 3.25rem 0 8.75rem;
  }

  .welcome .content h2 {
    font-size: 2rem;
    line-height: 1.125;
    letter-spacing: 0.004em;
  }

  .welcome .content .tagline {
    font-size: 3.75rem;
  }

  .welcome .content picture {
    max-width: 51.75rem;
    margin: 2.375rem auto 2.6rem;
  }

  .welcome .content .description .ai {
    font-size: 2rem;
    line-height: 1.125;
    letter-spacing: 0.004em;
  }

  .welcome .content .description a {
    margin: 1.5rem 0;
  }

  .welcome .content .description .info {
    font-size: 1.5rem;
    line-height: 1.1666666667;
    letter-spacing: 0.009em;
    max-width: 51rem;
  }
}

/* ===== Section - Design ===== */

.design {
  overflow-x: hidden;
}

.design .content {
  max-width: 25.4375rem;
}

.design .content h2 {
  font-family: var(--font-SF-Pro-Text-Semibold);
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.2857742857;
  letter-spacing: -0.016em;
  color: var(--title);
}

.design .content .heading-text {
  line-height: 1.257144;
  letter-spacing: 0em;
  font-size: 2.1875rem;
  margin-top: 0.375rem;
  display: inline-block;
  margin-left: -0.0625rem;
}

.design .content picture {
  margin: 2.8125rem 0;
  background-color: var(--image-bg);
  border-radius: var(--radius);
}

.design .content .picture-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.design .content .picture-1 img {
  width: 45.875rem;
}

.design .content .info {
  font-family: var(--font-SF-Pro-Display-Semibold);
  font-size: 1.3125rem;
  line-height: 1.1904761905;
  letter-spacing: 0.011em;
}

.design .content .size {
  position: relative;
}

.design .content .size-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.design .content .size-info div:first-child,
.design .content .size-info div:last-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-SF-Pro-Display-Semibold);
  color: var(--title);
}

.design .content .size-info div:first-child {
  text-align: right;
  margin-right: 2.5rem;
}

.design .content .size-info div:last-child {
  margin-left: 2.5rem;
}

.design .content .size-info div span:first-child {
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: 0em;
}

.design .content .size-info div span:last-child {
  font-size: 1.1875rem;
  line-height: 1.21053;
  letter-spacing: 0.012em;
}

.design .content .info-2 {
  font-family: var(--font-SF-Pro-Display-Semibold);
  font-size: 1.1875rem;
  line-height: 1.21053;
  letter-spacing: 0.012em;
}

.design .content .picture-3 {
  padding: 3.8436rem 1rem;
  margin-bottom: 1rem;
}

.design .content .picture-3 img {
  width: 15.75rem;
  margin: 0 auto;
}

.design .content .color-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background-color: var(--image-bg);
  padding: 1rem 0 2.375rem;
  border-radius: var(--radius);
}

.design .content .color-picker input {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

.design .content .color-picker input:checked + label span:first-child {
  cursor: default;
  border-color: var(--header-link-bg);
}

.design .content .color-picker input:checked + label span:last-child {
  opacity: 1;
  visibility: visible;
}

.design .content .color-picker input:focus-visible + label span:first-child {
  outline: 2px solid var(--header-link-bg);
  outline-offset: 2px;
}

.design .content .color-picker label {
  display: block;
  padding: 0 1rem;
  position: relative;
}

.design .content .color-picker .skyblue span:first-child div {
  background-color: #c8d8e0;
}

.design .content .color-picker .silver span:first-child div {
  background-color: #e3e4e6;
}

.design .content .color-picker .starlight span:first-child div {
  background-color: #f0e4d3;
}

.design .content .color-picker .midnight span:first-child div {
  background-color: #2e3642;
}

.design .content .color-picker label span:first-child {
  padding: 0.125rem;
  display: block;
  border-radius: 100px;
  border: 2px solid transparent;
  cursor: pointer;
}

.design .content .color-picker label span:first-child div {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100px;
  box-shadow: inset 0 1px 1px var(--shadow);
}

.design .content .color-picker label span:last-child {
  font-size: 0.75rem;
  line-height: 1.3333733333;
  letter-spacing: -0.01em;
  color: var(--title);
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.375rem;
  opacity: 0;
  visibility: hidden;
}

.design .content .picture-4 {
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 0;
}

.design .content .picture-4 img {
  transform: translateY(3rem);
}

.container .gallery:last-child div:last-child {
  display: none;
}

@media only screen and (min-width: 45.875rem) {
  .design .content {
    max-width: 46rem;
  }

  .design .content .heading-text {
    line-height: 1.0714285714;
    font-size: 3.5rem;
    margin-top: 0.5rem;
    margin-left: -0.125rem;
  }

  .design .content .picture-1 img {
    width: 66.75rem;
  }

  .design .content .size-info div:first-child {
    margin-right: 4.5rem;
  }

  .design .content .size-info div:last-child {
    margin-left: 4.5rem;
  }

  .design .content .size-info div span:first-child {
    font-size: 3.5rem;
    line-height: 1.0714285714;
  }

  .design .content .size-info div span:last-child {
    font-size: 1.75rem;
    line-height: 1.1428571429;
    letter-spacing: 0.007em;
  }

  .container {
    display: flex;
    margin-top: 2.8125rem;
  }

  .container .gallery:first-child {
    width: 100%;
    margin-left: 1rem;
  }

  .container .gallery:last-child {
    width: 100%;
    order: -1;
    display: flex;
    flex-direction: column;
  }

  .container .gallery:last-child div {
    height: 100%;
  }

  .container .gallery:last-child div:first-child {
    margin-bottom: 1rem;
  }

  .container .gallery:last-child div:last-child {
    display: block;
  }

  .container .gallery:first-child .picture-3 {
    margin: 0 0 1rem;
  }

  .container .gallery:last-child .picture-4 {
    height: 100%;
    margin: 0;
  }

  .container .gallery:last-child .picture-5 {
    height: 100%;
    margin: 0;
  }

  .design .content .picture-3 img {
    width: 11.25rem;
  }

  .design .content .picture-4 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .design .content .picture-4 img {
    width: 21.25rem;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 66.75rem) {
  .design .content {
    max-width: 64rem;
  }

  .design .content .heading-text {
    line-height: 1.0555555556;
    font-size: 4.5rem;
    margin-left: -0.1875rem;
  }

  .design .content .picture-1 img {
    width: 108rem;
  }

  .design .content .info {
    font-size: 1.5rem;
    line-height: 1.16667;
    letter-spacing: 0.009em;
  }

  .design .content .size-info div:first-child {
    margin-right: 5.9325rem;
  }

  .design .content .size-info div:last-child {
    margin-left: 5.9325rem;
  }

  .design .content .size-info div span:first-child {
    font-size: 4.5rem;
    line-height: 1.0555555556;
  }

  .design .content .size-info div span:last-child {
    font-size: 2rem;
    line-height: 1.125;
    letter-spacing: 0.004em;
  }

  .design .content .info-2 {
    font-size: 1.3125rem;
    line-height: 1.1904761905;
    letter-spacing: 0.011em;
  }

  .design .content .picture-3 {
    margin-bottom: 1.25rem;
  }

  .design .content .picture-3 img {
    width: 15.75rem;
  }

  .design .content .picture-4 img {
    width: 30rem;
  }

  .container .gallery:first-child {
    width: 100%;
    margin-left: 1.375rem;
  }

  .container .gallery:last-child div:first-child {
    margin-bottom: 1.375rem;
  }

  .container .gallery:first-child .picture-3 {
    margin: 0 0 1.375rem;
  }
}
