@import url("fonts.css");
@import url("colors.css");

:root {
  --font-SF-Pro-Display-Regular: "SF Pro Display Regular";
  --font-SF-Pro-Display-Semibold: "SF Pro Display Semibold";

  --font-SF-Pro-Text-Regular: "SF Pro Text Regular";
  --font-SF-Pro-Text-Semibold: "SF Pro Text Semibold";
}

:root {
  --header-link-bg: rgb(var(--dodger-blue));
  --header-link-fg: rgb(var(--white));

  --ai-gradient: linear-gradient(97deg, #0096ff, #bb64ff 42%, #f2416b 74%, #eb7500);
}

.light {
  --body-bg: rgb(var(--white));
  --body-fg: rgba(var(--black), 0.5);

  --header-bg: rgba(var(--header-light));
  --header-fg: rgb(var(--black));

  --separator: rgb(var(--separator-light));

  --title: rgb(var(--title-light));

  --image-bg: rgba(var(--black), 0.03);

  --heading-gradient: linear-gradient(90deg, rgb(var(--black)) 0%, #5786ab 100%);
}

.dark {
  --body-bg: rgb(var(--black));
  --body-fg: rgba(var(--white), 0.5);

  --header-bg: rgba(var(--header-dark));
  --header-fg: rgb(var(--white));

  --separator: rgb(var(--separator-dark));

  --title: rgb(var(--title-dark));

  --image-bg: rgba(var(--white), 0.1);

  --heading-gradient: linear-gradient(90deg, rgb(var(--white)) 0%, #5786ab 100%);
}
