@import url("fonts.css");
@import url("colors.css");

:root {
  --font-SF-Pro-Display-Semibold: "SF Pro Display Semibold";
  --font-SF-Pro-Text-Regular: "SF Pro Text Regular";
  --font-SF-Pro-Text-Semibold: "SF Pro Text Semibold";

  --color-bg: #ffffff;
  --color-bg-1: #d0d1d2;
  --color-bg-2: #fafafccc;
  --color-fg: #000000;
  --color-fg-1: #86868b;
  --color-fg-2: #1d1d1f;
}

:root {
  --header-link-bg: rgb(var(--dodger-blue));
  --header-link-fg: rgb(var(--white));

  --ai-gradient: linear-gradient(97deg, #0096ff, #bb64ff 42%, #f2416b 74%, #eb7500);

  --radius: 10px;

  --body-bg: rgb(var(--white));
  --body-fg: rgba(var(--black), 0.5);

  --header-bg: rgba(var(--header-light));
  --header-fg: rgb(var(--black));

  --separator: rgb(var(--separator-light));

  --title: rgb(var(--title-light));

  --image-bg: rgba(var(--black), 0.03);

  --shadow: rgba(var(--black), 0.25);

  --heading-gradient: linear-gradient(90deg, rgb(var(--black)) 0%, #5786ab 100%);
}
